@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/poppins/Poppins-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/poppins/Poppins-ExtraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url(/fonts/poppins/Poppins-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul,
li {
  list-style: none;
}

body,
html {
  height: 100dvh;
  background: #fff9f3;
  color: var(--color-text);
}

.hidden {
  display: none !important;
}

#__nuxt {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow: hidden;
}

:root {
  --color-light-grey: rgb(231, 230, 229);
  --color-grey: #888;
  --color-dark-grey: #555;
  --color-black: #333;
  --color-black-rgb: 28, 137, 255;
  --color-purple: #4900d1;
  --color-purple-rgb: 73, 0, 209;
  --color-background: #fff9f3;
  --color-text: #303136;
}

*::selection {
  background: var(--color-purple);
  color: white;
}

button {
  border: none;
  padding: 15px 25px;
  border-radius: 999px;
  color: white;
  margin: 2px;
  background: #333;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, color 0.3s ease;
  letter-spacing: 2px;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
  }

  & svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionnaire-section:has(.question.chat-open) {
  overflow: hidden;

  & h2 {
    display: none;
  }

  & .question:not(.chat-open) {
    display: none;
  }
}
